<!DOCTYPE html>
<html lang="en">

{{> partial/header}}

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- handlebar "sidebar"-->
    {{> partial/sidebar}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {{> partial/topbar}}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">질문답변게시판 - Team1</h1>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <a href="/questions/form" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                                <span class="text">createNew</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>author</th>
                                    <th>Register date</th>
                                    <th>update date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#questions}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{title}}</td>
                                        <td>{{author}}</td>
                                        <td>{{registerDate}}</td>
                                        <td>{{updateDate}}</td>
                                        <td><a href="/questions/{{id}}" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-info-circle"></i>
                                        </a></td>
                                    </tr>
                                {{/questions}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- handlebar "footer"-->
        {{> partial/footer}}
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{> partial/logout_modal}}

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>
